.header__logo {
  transition: opacity 0.3s linear;
  width: 142px;
  height: 33px;
}
.header__logo:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 650px) {
  .header__logo {
    width: 103px;
    height: 25px;
  }
}
