.element__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}
.element__image:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .element__image {
    height: 240px;
  }
}
@media (max-width: 820px) {
  .element__image {
    height: 282px;
    width: 282px;
  }
}
@media (max-width: 723px) {
  .element__image {
    width: 282px;
  }
}
@media (max-width: 675px) {
  .element__image {
    width: 250px;
  }
}
@media (max-width:600px) {
.element__image{
  width: 282px;
}
}
