.popup__close {
  position: absolute;
  max-width: 32px;
  min-height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media (max-width: 650px) {
  .popup__close {
    max-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0px;
  }
}
