.popup__input_type_error-active {
  color: red;
  display: block;
  position: absolute;
  top: 141px;
  left: 35px;
  min-height: 30px;
  padding: 0;
  margin: 5px 0 -35px 0;
  font-size: 12px;
  line-height: calc(1 / 12 * 15);
}
.popup__input_type_error-active:last-child {
  top: 205px;
  left: 35px;
}
