.authen__btn {
  background-color: #fff;
  border: none;
  padding: 0;
  margin-top: 216px;
  margin-bottom: 15px;
  min-width: 358px;
  min-height: 50px;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
}
