.authen__input {
  color: #ccc;
  background-color: transparent;
  border: none;
  margin: 0 auto 30px;
  min-width: 358px;
  border-bottom: 2px solid #ccc;
  outline: none;
  padding-bottom: 10px;
}
.authen__input:last-child {
  margin: 0;
}
