.profile__info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media (max-width: 320px){
  .profile__info-container {
    justify-content: center;
  }
}
